input {
    margin-bottom: 10px;
    background-color: aquamarine;
    border-radius: 4px;
}

#conteiner{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
}

#btnBuscar{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 30px;

}

.dados{
    display: flex;
    justify-content: space-between;
}